body {
    margin: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #87CEEB;
}

.scene {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
}

.block {
    position: absolute;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    margin: 5px;
}

.face {
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: cover;
    border: 1px solid #000;
}

/* Расположение сторон куба */
.face-1 { transform: rotateY(0deg) translateZ(50px); }
.face-2 { transform: rotateY(90deg) translateZ(50px); }
.face-3 { transform: rotateY(180deg) translateZ(50px); }
.face-4 { transform: rotateY(-90deg) translateZ(50px); }
.face-5 { transform: rotateX(90deg) translateZ(50px); }
.face-6 { transform: rotateX(-90deg) translateZ(50px); }
